<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Altyn</title>
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
            integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />

        <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css">
    </head>
    <body>
        <div class="main">
            <div class="header">
                <div class="logo">
                  
                </div>
                <div class="links">
                    <div class="back_box">
                        <a th:href="@{/}">
                            <button class="button">BACK</button>
                        </a>
                    </div>
                </div>
            </div>
            <div class="content_login">
                <div class="login">
                    <h1>Welcome!</h1>
                    <form th:action="@{'/auth'}" method="post">
                        <input type="email" class="input" placeholder="e-mail" name="user_email" required>
                        <br>
                        <input type="password" class="input" placeholder="password" name="user_password" required>
                        <br>
                        <div class="login_buttons">
                            <button class="button" type="submit">LOG IN</button>
                            <a th:href="@{/signup}">
                                <button class="button">CREATE ACCOUNT</button>
                            </a>
                        </div>
                    </form>
                    <br>
                    <p class="cursor gray">Forgot your password?</p>
                </div>
            </div>
        </div>
    </body>
</html>