<html lang="en"
    xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
    xmlns:layout="http://ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="UTF-8">
        <title>Altyn</title>
        <link rel="stylesheet" th:href="@{css/styles.css}" type="text/css">
    </head>
    <body>
        <div class="main">
            <div th:insert="~{navbar}">

            </div>
            <div layout:fragment="site_content">
            </div>
        </div>
    </body>
</html>